.saved-news__text {
  max-width: 1232px;
  margin: auto;
}

.saved-news__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 40px;
}

.saved-news__message {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin-top: 28px;
}

.saved-news__key-words {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  max-width: 712px;
  margin-top: 30px;
}

.saved-news__section {
  background: #F5F6F7;
  width: 100%;
}

.saved-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
  max-width: 1232px;
  width: 100%;
  margin: 56px auto 0;
  padding-top: 62px;
  padding-bottom: 62px;
}

@media screen and (max-width: 768px) {
  .saved-news__text {
    max-width: 690px;
  }
}

@media screen and (max-width: 570px) {
  .saved-news__text {
    max-width: 288px;
  }

  .saved-news__title {
    font-size: 18px;
  }

  .saved-news__message {
    font-size: 30px;
    line-height: 34px;
  }
}
