.saved-news__text {
  max-width: 1232px;
  margin: auto;
}

.saved-news__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin-top: 40px;
}

.saved-news__message {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin-top: 28px;
}

.saved-news__key-words {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  max-width: 712px;
  margin-top: 30px;
}
