.search-form {
  min-height: 576px;
  width: 100%;
  background: no-repeat center url(../../images/search-image.png);
  background-size: cover;
}

.search-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  max-width: 608px;
  min-height: 128px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.serach-form__caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 608px;
  min-height: 48px;
  margin-top: 32px;
  margin-bottom: 0px;
}

.search-form__bar {
  min-width: 608px;
  min-height: 64px;
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  margin-top: 64px;
}

.search-form__type-line {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin-left: 24px;
  border: none;
  min-width: 376px;
  box-sizing: border-box;
  margin-right: 38px;
  outline: none;
}

.search-form__submit-button {
  min-width: 168px;
  min-height: 64px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  box-sizing: border-box;
}
