.news-card {
  position: relative;
  max-width: 400px;
  max-height: 576px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 16px;
}

.news-card__image {
  max-width: 400px;
  max-height: 272px;
}

.news-card__save {
  background-image: url(../../images/Group_13.png);
  min-width: 40px;
  min-height: 40px;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.news-card__publication-date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #B6BCBF;
  margin-left: 24px;
  margin-top: 20px;
  margin-right: 24px;
}

.news-card__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-left: 24px;
  margin-top: 12px;
  margin-right: 24px;
}

.news-card__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-left: 24px;
  margin-top: 16px;
  margin-right: 24px;
}

.news-card__channel {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin-bottom: 24px;
  margin-left: 24px;
}

@media screen and (max-width: 768px) {
  .news-card {
    max-width: 224px;
    min-height: 420px;
  }

  .news-card__image {
    max-width: 224px;
    min-height: 150px;
  }

  .news-card__save {
    top: 8px;
    right: 8px;
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__text {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 90px;
  }
}

@media screen and (max-width: 570px) {
  .news-card {
    max-width: 288px;
    min-height: 440px;
  }

  .news-card__image {
    max-width: 288px;
    min-height: 196px;
  }

  .news-card__save {
    top: 16px;
    right: 16px;
  }
}
